.slider-container{
    width: 100%;
    height: 100%;
    position: relative;
    font-family: 'Inter', sans-serif;
    
}
.home>.slider-container:first-child{
    height:600px;
    
}
.slider-container .slide{
    position: absolute;
    width: inherit;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    opacity: 0;
    transition: 1s;
    background-position: 0 0 ;
    /* grid-template-rows: repeat(7,50px); */
    background-blend-mode: color;
    background: rgba(0, 0, 0, 0.5);
    background-size: cover;

}
.slider-container .slide>div{
    display: grid;
    align-items: center;
    max-width: 800px;
}

.slider-container .slide .title{
    color:white;
    font-size: 3rem;
    line-height: 5rem;
    font-weight: bold;
    opacity: 0;
    text-transform: uppercase;
    /* grid-row: 2/3; */

}
.slider-container .slide .desc{
    color:var(--secondary-ex-light);
    margin: 20px 0;
    font-size: 1.3rem;
    line-height: 1.5rem;
    opacity: 0;
    /* grid-row: 4/6; */

}
.slide >div:last-child{
    /* grid-row: 7/8; */
    display: flex;

}
.slide .btn1{
    background: var(--primary);
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    min-width: 20px;
    font-size: 0.8rem;
    padding: 16px 32px;
    margin: 16px 10px;
    opacity: 0;
    width: fit-content;
    cursor: pointer;

}
.slide .btn2{
    background: white;
    color: var(--secondary);
    text-transform: uppercase;
    font-weight: 700;
    min-width: 20px;
    font-size: 0.8rem;
    padding: 16px 32px;
    margin: 16px 0;
    opacity: 0;
    width: fit-content;
    cursor: pointer;

}

.slider-container .prev{
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 5rem;
    color: white;
}
.slider-container .next{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: white;
    font-size: 5rem;
}

.active{
    opacity: 1 !important;
}
.active .title{
    animation: title 1s 1s ease forwards ;
} 
.active .desc{
    animation: title 1s 1.5s ease forwards ;
} 
.active .btn1{
    animation: title 1s 1.7s ease forwards ;
} .active .btn2{
    animation: title 1s 1.9s ease forwards ;
} 
@keyframes title {
    from{
        transform: translateY(50px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;

    }
}